.home_index
  .top_text.w100.text-center
    %h1 ○○○○見た目だけ総選挙
  .link_area.text-center
    .conflict
      = link_to '投票', conflict_index_path, class: 'btn'
      %p.description ２枚の写真が表示されるので、かわいいと思ったほうをクリック！
  .rankings_area
    %p.title ランキング
    - @pictures.each.with_index(1) do |picture, i|
      .picture
        %p 
          = "#{i + ((@pictures.current_page - 1) * 10)}位 #{picture.rating}ポイント"
        = link_to(image_tag(picture.url + 'media/?size=m'), picture_path(picture))
    = page_entries_info @pictures
    = paginate @pictures

:javascript
  console.log("こんにちは");