%p#notice= notice

%p
  %b Url:
  = @picture.url
%p
  %b Rating:
  = @picture.rating
%p
  %b User:
  = @picture.user_id
%p
  %b Win:
  = @picture.win
%p
  %b Lose:
  = @picture.lose
%p
  %b Picture present:
  = @picture.picture_present

= link_to 'インスタでみる', @picture.url, target: '_blank'
.show_picture_area
  = image_tag(@picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{@picture.id})")

-if user_signed_in? && current_user.admin?
  = link_to 'Edit', edit_picture_path(@picture)
  \|
= link_to 'Back', pictures_path
