%p
  %b Rating:
  = @picture.rating
%p
  %b Win:
  = @picture.win
%p
  %b Lose:
  = @picture.lose
= link_to 'インスタでみる', @picture.url, target: '_blank'
.show_picture_area
  = image_tag(@picture.url + 'media/?size=l', class: 'show_picture', onError: "img_blank(#{@picture.id})")

-if user_signed_in? && current_user.admin?
  = link_to 'Edit', edit_picture_path(@picture)
  = link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' }
  \|
= link_to 'Back', pictures_path
